extends layout

block content

  div.nav-bar
    h1= title
    div.user-controls
      h2= `${user ? user.username: "Guest"}`
      if !user 
        div.user-links
          a(href="/sign-in") Sign in
          a(href="/sign-up") Sign up
      if user
        div.user-links
          if !user.isMember
            a(href="/membership") Become a Member
          else 
            h2(style="color: #00B7FF") #[Strong Club Member]
          a(href="/sign-out") Sign out
  div.comments-container 
    div.comments-header
      h2 Messages
      if user
        div.new-comment
          a.new-comment-btn(href="/new-comment") +  New Comment
    
    if commentList
      for comment in commentList
        div.comment
          div.comment-header
            if user && user.username === comment.user.username
              h2 <em style="color:#00B7FF">Me</em>
            else if user && user.isMember
              h2= `${comment.user.username} - ${comment.user.isMember ? "Club Member" : "Guest"}`
            else
              h2 <em>Anonymous</em>
            if user && user.isMember  
              p= `posted: ${comment.dated_formatted}`
          hr
          p= comment.text
    